.title-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.tab-list {
    display: flex;
    justify-content: center;
    margin: 60px 0 10px;
}

.tab-list li {
   margin-right: 20px;
   list-style: none;
   padding: 15px;
   border-top: 2px solid #eee;
   border-left: 2px solid #eee;
   border-right: 2px solid #eee;
}

.tab-list li a:hover{
   cursor: pointer;
}

.title-wrapper h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.title-wrapper p {
    font-size: 18px;
}

.tab-wrapper {
    border-top: 1px solid #eee;
    padding: 100px;
}